{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/about.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          My name is Aminat Ajagbe (A3AJAGBE, I'm Nigerian but I presently live in Dublin, Ireland.
          I am a recent graduate at Dublin Business School, studied MSc. Information Systems with Computing.
        </p>
        <p>
          I am a python developer with several projects completed with TKinter, Turtle Graphics, Flask and
          Django Framework. I am currently committed to #100DaysOfCode #PythonProgramming,
          and I have completed several projects so far.
          Also, this platform is the one of the completed project, and all projects and more are available on GitHub.
        </p>
      </div>
    </div>
  </div>

  <hr>

{% include "footer.html" %}