
{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{blog.img_url}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{blog.title}}</h1>
            <h2 class="subheading">{{blog.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{blog.author.name}}</a>
              on {{blog.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
<!--           Apply safe filter to blog body-->
          <p>{{ blog.body|safe }}</p>
          <hr>

      <div class="clearfix">
         <a class="btn btn-primary float-left" href="{{ url_for('index') }}"> &larr; Back</a>
          <!--         The user with the num 1 is admin, so restricting access to just admin-->
         {% if current_user.id == 1 %}
        <a class="btn btn-primary float-right" href="{{url_for('edit', blog_id=blog.id)}}">Edit Post ✍</a>
          {% endif %}
      </div>
        </div>

      </div>

<!--        Comment Section-->
        {{ ckeditor.load() }}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
  </article>


{% include "footer.html" %}